<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Manager, Administrator, Developer"/>
      <deny users="*"/>
    </authorization>
  </system.web>

	<location path="~/WorkOrders/ClockWorkOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="Manager, Administrator, Developer, Technician"/>
				<deny users="*" />

			</authorization>
		</system.web>
	</location>




</configuration>
